<div class="login-container">
  <div class="login-field">
    <p-tabView>
      <p-tabPanel header="Register">
        <form [formGroup]="formGroup" >

          <label >
            Organization Name:
            <input pInputText  formControlName="organization-name" type="text">
          </label>

          <label>
            Phone number:
            <input pInputText  formControlName="phone-number" type="text">
          </label>

          <label>
            Address
            <input pInputText formControlName="address" type="text">
          </label>

          <label>
            Username:
            <input pInputText formControlName="username" type="text">
          </label>

          <label>
            Email:
            <input pInputText formControlName="email" type="text">
          </label>
          <label>
            Password:
            <input pInputText formControlName="password" type="text">
          </label>

          <p-button (click)="createOrganization()">Create Organization</p-button>
        </form>
      </p-tabPanel>
      <p-tabPanel header="Login">
        <form [formGroup]="formLogin" >

          <label>
            Email:
            <input pInputText formControlName="email" type="text">
          </label>
          <label>
            Password:
            <input pInputText formControlName="password" type="text">
          </label>

          <p-button (onClick)="login()">Login</p-button>
        </form>
      </p-tabPanel>
    </p-tabView>


  </div>


</div>
