.login-container{
  height: 100vh;
  width: 100%;
  .login-field{
    height: 100%;
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    form{
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      label{
        width: 100%;
        input {
          width: 100%;
        }
      }
    }
  }
}
